<ion-header [translucent]="true">
    <ion-searchbar placeholder="Filter Pizza" inputmode="decimal" type="decimal" (ionChange)="onSearchChange($event)" [debounce]="250"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-row style="width: 80%; margin: auto">
    <ion-col text-center >
      <form action="" style="width: 80%; margin: auto">
        <p style="margin-bottom: 0; padding-bottom: 0;">Nom</p>
        <input style="width: 100%;" type="text" name="nom" id="nom">
        <p style="margin-bottom: 0; padding-bottom: 0;">Prénom</p>
        <input style="width: 100%;" type="text" name="prenom" id="prenom">
        <p style="margin-bottom: 0; padding-bottom: 0;">Ville</p>
        <input style="width: 100%;" type="text" name="nom" id="nom">
        <p style="margin-bottom: 0; padding-bottom: 0;">Email</p>
        <input style="width: 100%;" type="text" name="nom" id="nom">
        <p style="margin-bottom: 0; padding-bottom: 0;">Téléphone</p>
        <input style="width: 100%;" type="text" name="nom" id="nom">
        <p style="margin-bottom: 0; padding-bottom: 0;">Téléphone</p>
        <input style="width: 100%;" type="text" name="nom" id="nom">
        <p style="margin-bottom: 0; padding-bottom: 0;">Type de Contrat</p>
        <input style="width: 100%;" type="text" name="nom" id="nom">
        <p style="margin-bottom: 0; padding-bottom: 0;">Emploi recherché</p>
        <input style="width: 100%;" type="text" name="nom" id="nom">
        <p style="margin-bottom: 0; padding-bottom: 0;">Localisation</p>
        <input style="width: 100%;" type="text" name="nom" id="nom">
        <p style="margin-bottom: 0; padding-bottom: 0;">Rayon</p>
        <input style="width: 100%;" type="text" name="nom" id="nom">
        <p style="margin-bottom: 0; padding-bottom: 0;">Disponibilité</p>
        <input style="width: 100%;" type="text" name="nom" id="nom">
      </form>
      <ion-button (click)="onClick()" expand="Danger" fill="clear" shape="round" style="width: 100%;">
        Enregister
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
