<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="width: 80%; margin: auto">
    <ion-col text-center >
      <form action="" style="width: 80%; margin: auto">

        <ion-item>
          <ion-label>Nom :</ion-label>
          <ion-input type="text" [(ngModel)]="formulaire.nom" name="nom"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Prénom :</ion-label>
          <ion-input type="text" [(ngModel)]="formulaire.prenom" name="prenom"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Ville :</ion-label>
          <ion-input type="text" [(ngModel)]="formulaire.ville" name="ville"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Email :</ion-label>
          <ion-input type="email" [(ngModel)]="formulaire.email" name="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Téléphone :</ion-label>
          <ion-input type="email" [(ngModel)]="formulaire.telephone" name="telephone"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Type de contrat :</ion-label>
          <ion-input type="email" [(ngModel)]="formulaire.type_contrat" name="type_contrat"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Emploi rechercher :</ion-label>
          <ion-input type="email" [(ngModel)]="formulaire.emploi_rechercher" name="emploi_rechercher"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Localisation :</ion-label>
          <ion-input type="email" [(ngModel)]="formulaire.localisation" name="localisation"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Rayon (km) :</ion-label>
          <ion-input type="email" [(ngModel)]="formulaire.rayon" name="rayon"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Disponibilité :</ion-label>
          <ion-input type="email" [(ngModel)]="formulaire.disponibilite" name="disponibilite"></ion-input>
        </ion-item>

      </form>
      <ion-button (click)="onClick()" expand="Danger" fill="clear" shape="round" style="width: 100%;">
        Enregister
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
